:root {
    --white: #FFFFFF;
    --yellow: #E2BA38;
    --black: #121219;
    --brown: #332D1C;
    --brownopacity: #E2BA3880;
    --red: #FF3D00;

    --darkModeTransition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

    --textColor: #121219;
    --backgroundColor: #FFFFFF;

    --otherTextColor: #FFFFFF;
    --otherBackgroundColor: #332D1C;
    --ralewaymedium: ralewaymedium;
    --ralewaybold: ralewaybold;
    --ralewaylight: ralewaylight;

    --borderradius: 7px;
}

.aboutfourth {
    margin-top: 70px;

    .all {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .left {
            margin: 0;
            padding: 0;
            padding-right: 20px;
            display: flex;
            flex-direction: column;
            position: relative;

            .aboutfourthprev {
                position: absolute;
                bottom: 0%;
                right: 100px;
                z-index: 50;
                cursor: pointer;
                width: max-content;
                padding: 10px;
                padding-bottom: 7px;
            }

            .aboutfourthnext {
                position: absolute;
                bottom: 0%;
                right: 10px;
                z-index: 50;
                cursor: pointer;
                width: max-content;
                padding: 10px;
                padding-bottom: 7px;
            }

            h4 {
                color: var(--yellow);
                font-family: var(--ralewaybold);
                margin: 0;
                padding: 0;
                margin-bottom: 30px;
            }

            p {
                font-size: 16px;
                font-family: var(--ralewaymedium);
                margin-bottom: 20px;
            }
        }

        .right {
            overflow: hidden;
            border-radius: 10px;
            margin: 0;
            padding: 0;

            .slide {
                margin: 0;
                padding: 0;

                img {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .aboutfourth {
        margin-top: 40px;

        .all {
            .left {
                margin: 0;
                padding: 0;
                order: 2;
                margin-top: 20px;

                .aboutfourthprev {
                    display: none !important;
                }

                .aboutfourthnext {
                    display: none !important;
                }

                h4 {
                    margin-bottom: 20px;
                }

                p {
                    font-size: 14px;
                    margin-bottom: 15px;
                }
            }

            .right {
                overflow: hidden;
                border-radius: 10px;
                order: 1;
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .aboutfourth {
        margin-top: 50px;

        .all {
            .left {
                padding: 0;
                padding-top: 20px;
                order: 2;

                .aboutfourthprev {
                    display: none !important;
                }

                .aboutfourthnext {
                    display: none !important;
                }

                h4 {
                    margin-bottom: 20px;
                }

                p {
                    font-size: 14px;
                    margin-bottom: 16px;
                }
            }

            .right {
                overflow: hidden;
                order: 1;
                border-radius: 10px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .aboutfourth {
        margin-top: 60px;

        .all {
            .left {
                padding: 0;
                padding-right: 15px;

                .aboutfourthprev {
                    right: 75px;
                }

                .aboutfourthnext {
                    right: 8px;
                }

                h4 {
                    margin-bottom: 20px;
                }

                p {
                    font-size: 13px;
                    margin-bottom: 15px;
                }
            }

            .right {
                overflow: hidden;
                border-radius: 10px;
            }
        }
    }
}

@media(min-width: 992px) and (max-width: 1200px) {
    .aboutfourth {
        .all {
            .right {
                h4 {
                    margin-bottom: 22px;
                }

                p {
                    font-size: 15px;
                    margin-bottom: 18px;
                }
            }
        }
    }
}