:root {
    --white: #FFFFFF;
    --yellow: #E2BA38;
    --black: #121219;
    --brown: #332D1C;
    --brownopacity: #E2BA3880;
    --red: #FF3D00;
    --darkyellow: #A57E02;
    --shopyellow: rgba(226, 186, 56, 0.50);
    --productyellow: rgba(226, 186, 56, 0.50);
    --darkModeTransition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    --darkModeTransition: fill 0.3s ease-in-out, background-color 0.3s ease-in-out;
    --productdetailh3: #121219;
    --textColor: #121219;
    --backgroundColor: #FFFFFF;

    --otherTextColor: #FFFFFF;
    --otherBackgroundColor: #332D1C;
    --ralewaymedium: ralewaymedium;
    --ralewaybold: ralewaybold;
    --ralewaylight: ralewaylight;

    --borderradius: 7px;
}

.collectionssecond {
    background-color: var(--backgroundColor);
    transition: var(--darkModeTransition);
    color: var(--darkyellow);

    .all {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;

        .collections {
            padding: 0;
            margin: 0;
            margin-top: 40px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 40px;
            width: 100%;

            .collection {
                margin: 0;
                padding: 0;
                position: relative;

                .imgkeeper {
                    width: 100%;
                    position: relative;
                    border-radius: 10px;
                    overflow: hidden;
                    display: block;

                    img {
                        width: 100%;
                    }
                }

                .content {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    width: 100%;
                    margin: 0;
                    padding: 0;

                    .name,
                    .style {
                        font-size: 15px;
                        font-family: var(--ralewaymedium);
                        margin-top: 8px;
                        margin-bottom: 5px;
                        transition: var(--darkModeTransition);
                        color: var(--textColor);
                    }
                }
            }
        }

        .pagination {
            padding: 0;
            margin: 0;
            margin-top: 80px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            ul {
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;

                li {
                    margin: 0 15px;
                    font-family: var(--ralewaymedium);
                    border-radius: 10px;
                    font-size: 18px;
                    width: 45px;
                    height: 45px;
                    padding-bottom: 3px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: var(--textColor);
                    transition: var(--darkModeTransition);
                    border: 1px solid var(--yellow);
                    line-height: 0;
                    transition: 0.2s;
                    cursor: pointer;

                    &:hover {
                        background-color: var(--yellow);
                        color: var(--white);
                    }
                }

                .selectedpage {
                    background-color: var(--yellow);
                    color: var(--white);
                }

                .otherli {
                    width: 70px;
                }
            }
        }
    }
}

@media(max-width: 576px) {
    .collectionssecond {

        .all {
            .collections {
                margin-top: 25px;
                grid-template-columns: 1fr;
                gap: 30px;

                .collection {
                    .content {
                        padding: 0;

                        .name,
                        .style {
                            font-size: 15px;
                        }
                    }
                }
            }

            .pagination {
                margin-top: 50px;

                ul {
                    li {
                        margin: 0 10px;
                        font-size: 14px;
                        width: 35px;
                        padding-bottom: 1px;
                        height: 35px;
                    }

                    .otherli {
                        width: 50px;
                    }
                }
            }
        }
    }

    .togglefiltermenu {
        right: 0 !important;
    }
}

@media(min-width: 576px) and (max-width: 768px) {
    .collectionssecond {
        .all {
            .collections {
                margin-top: 25px;
                grid-template-columns: 1fr 1fr;
                gap: 20px;

                .collection {
                    .content {
                        padding: 0;

                        .name,
                        .style {
                            font-size: 16px;
                        }
                    }
                }
            }

            .pagination {
                margin-top: 50px;

                ul {
                    li {
                        margin: 0 10px;
                        font-size: 15px;
                        width: 40px;
                        padding-bottom: 1px;
                        height: 40px;
                    }

                    .otherli {
                        width: 55px;
                    }
                }
            }
        }
    }

    .togglefiltermenu {
        right: 0 !important;
    }
}

@media(min-width: 768px) and (max-width: 992px) {
    .collectionssecond {
        .all {
            .collections {
                margin-top: 25px;
                gap: 20px;

                .collection {
                    .content {
                        padding: 0;
                    }
                }
            }

            .pagination {
                margin-top: 70px;

                ul {

                    li {
                        margin: 0 10px;
                        font-size: 16px;
                        width: 40px;
                        height: 40px;
                        padding-bottom: 2px;
                    }
                }
            }
        }
    }
}