:root {
    --white: #FFFFFF;
    --yellow: #E2BA38;
    --black: #121219;
    --brown: #332D1C;
    --brownopacity: #E2BA3880;
    --red: #FF3D00;

    --darkModeTransition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

    --textColor: #121219;
    --backgroundColor: #FFFFFF;

    --headerBackgroundColor: rgba(255, 255, 255, 0.4);

    --otherTextColor: #FFFFFF;
    --otherBackgroundColor: #332D1C;
    --ralewaymedium: ralewaymedium;
    --ralewaybold: ralewaybold;
    --ralewaylight: ralewaylight;

    --borderradius: 7px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--backgroundColor);
    transition: var(--darkModeTransition);
    color: var(--textColor);
    z-index: 1000;

    .all {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: auto 150px auto;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: relative;
        transition: 0.2s;

        .left {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0;
            margin: 0;
            font-family: var(--ralewaylight);
            cursor: pointer;
            font-size: 18px;

            .hamburgermenu {
                width: max-content;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-right: 10px;

                svg {
                    fill: var(--textColor);
                    transition: var(--darkModeTransition);

                    path {
                        transition: var(--darkModeTransition);
                    }

                    rect {
                        transition: var(--darkModeTransition);
                        fill: var(--textColor);
                    }
                }
            }
        }

        .middle {
            margin: 0;
            padding: 10px 0;

            img {
                width: 100%;
            }
        }

        .right {
            margin: 0;
            padding: 0;
            font-family: var(--ralewaymedium);
            display: grid;
            grid-template-columns: auto auto auto;
            column-gap: 12px;

            .search {
                display: flex;
                align-items: flex-end;

                .searchicon {
                    width: max-content;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    cursor: pointer;
                    padding-top: 3px;

                    &:hover {
                        svg {
                            stroke: var(--yellow);
                        }
                    }

                    svg {
                        stroke: var(--textColor);
                        transition: 0.3s;
                        width: 22px;
                        height: 22px;
                    }
                }

                .searchmenu {
                    border: 0.5px solid var(--textColor);
                    z-index: 1001;
                    border-bottom-left-radius: var(--borderradius);
                    border-bottom-right-radius: var(--borderradius);
                    height: 250px;
                    width: 250px;
                    position: absolute;
                    margin: 0;
                    padding: 0;
                    right: 0%;
                    top: 100%;
                    display: none;
                    background-color: var(--backgroundColor);
                    color: var(--textColor);
                    transition: var(--darkModeTransition);

                    .menucontent {
                        background-color: var(--backgroundColor);
                        color: var(--textColor);
                        transition: var(--darkModeTransition);
                        margin: 0;
                        padding: 0;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-wrap: wrap;
                        height: 100%;
                        border-bottom-left-radius: var(--borderradius);
                        border-bottom-right-radius: var(--borderradius);

                        .top {
                            width: 100%;
                            margin: 0;
                            padding: 10px;
                            border-bottom: 0.5px solid var(--textColor);
                            display: grid;
                            grid-template-columns: auto 200px;
                            justify-content: space-between;
                            align-items: center;

                            input {
                                border: none;
                                outline: none;
                                background-color: var(--backgroundColor);
                                transition: var(--darkModeTransition);
                                color: var(--textColor);
                                font-size: 18px;

                                &::placeholder {
                                    font-size: 16px;
                                }
                            }

                            span {
                                border: none;
                                outline: none;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                cursor: pointer;
                                background-color: var(--backgroundColor);
                                color: var(--textColor);
                                transition: var(--darkModeTransition);

                                svg {
                                    stroke: var(--textColor);
                                    width: 21px;
                                    height: 21px;
                                    transition: var(--darkModeTransition);
                                }
                            }

                            .closeicon {
                                display: none;
                            }
                        }

                        .searchitems {
                            width: 100%;
                            margin: 0;
                            padding: 10px;
                            overflow-y: scroll;
                            list-style: none;
                            height: 80%;

                            li {
                                cursor: pointer;
                                width: 100%;
                                margin-bottom: 4px;

                                a {
                                    display: block;
                                    width: 100%;
                                    font-size: 18px;
                                    transition: 0.2s;

                                    &:hover {
                                        color: var(--yellow);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .wishlist {
                width: max-content;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                transition: var(--darkModeTransition);

                &:hover {
                    svg {
                        stroke: var(--yellow);
                    }
                }

                svg {
                    stroke: var(--textColor);
                    width: 24px;
                    transition: 0.3s;
                    height: 24px;
                }
            }

            .colormode {
                span {
                    width: max-content;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    cursor: pointer;
                    padding-top: 3px;

                    &:hover {
                        svg {
                            stroke: var(--yellow);
                        }
                    }

                    svg {
                        stroke: var(--textColor);
                        transition: 0.3s;
                        width: 24px;
                        height: 24px;
                    }
                }

                .sun {
                    svg {
                        stroke: var(--textColor);
                        width: 25px;
                        transition: var(--darkModeTransition);
                        height: 25px;
                    }
                }

                .moon {
                    margin: 0 1px;
                }
            }
        }
    }

    .thinheader {
        transition: 0.2s;
        grid-template-columns: auto 130px auto;
    }
}

.changecolorheader {
    background-color: var(--headerBackgroundColor);
}

@media (max-width: 576px) {
    .header {

        .all {
            grid-template-columns: 33% 120px 33%;

            .left {
                font-size: 15px;
                justify-content: flex-start;

                .menuname {
                    display: none;
                }

                .hamburgermenu {
                    padding-right: 40px;
                    padding-top: 3px;
                }
            }

            .middle {
                padding: 5px 0;
            }

            .right {
                column-gap: 12px;
                justify-content: flex-end;

                .search {
                    .searchicon {
                        width: max-content;
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        cursor: pointer;
                        padding-top: 3px;

                        svg {
                            stroke: var(--textColor);
                            width: 25px;
                            height: 25px;
                            transition: var(--darkModeTransition);
                        }
                    }

                    .searchmenu {
                        height: 250px;
                        width: 100%;

                        .menucontent {

                            .top {
                                grid-template-columns: auto 90%;

                                input {
                                    font-size: 15px;

                                    &::placeholder {
                                        font-size: 15px;
                                    }
                                }
                            }

                            .searchitems {

                                li {
                                    a {
                                        font-size: 15px;
                                    }
                                }
                            }
                        }
                    }
                }

                .wishlist {
                    svg {
                        stroke: var(--textColor);
                        width: 25px;
                        height: 25px;
                        transition: var(--darkModeTransition);
                    }
                }

                .colormode {
                    span {
                        svg {
                            stroke: var(--textColor);
                            width: 25px;
                            height: 25px;
                            transition: var(--darkModeTransition);
                        }
                    }
                }
            }
        }

        .thinheader {
            grid-template-columns: 33% 100px 33%;
        }
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .header {

        .all {
            grid-template-columns: 33% 130px 33%;

            .left {
                font-size: 15px;
                justify-content: flex-start;

                .hamburgermenu {
                    padding-right: 7px;
                }
            }

            .middle {
                padding: 5px 0;
            }

            .right {
                column-gap: 12px;
                justify-content: flex-end;

                .search {

                    .searchmenu {
                        height: 250px;
                        width: 50%;

                        .menucontent {

                            .top {
                                grid-template-columns: auto 90%;

                                input {
                                    font-size: 15px;

                                    &::placeholder {
                                        font-size: 15px;
                                    }
                                }
                            }

                            .searchitems {

                                li {
                                    a {
                                        font-size: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .thinheader {
            grid-template-columns: 33% 100px 33%;
        }
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .header {

        .all {
            grid-template-columns: 33% 140px 33%;

            .left {
                font-size: 17px;
                justify-content: flex-start;

                .hamburgermenu {
                    padding-right: 7px;
                }
            }

            .middle {
                padding: 10px 0;
            }

            .right {
                column-gap: 15px;
                justify-content: flex-end;

                .search {

                    .searchmenu {
                        .menucontent {
                            .top {
                                grid-template-columns: auto 90%;

                                input {
                                    font-size: 15px;

                                    &::placeholder {
                                        font-size: 15px;
                                    }
                                }
                            }

                            .searchitems {

                                li {
                                    a {
                                        font-size: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .thinheader {
            grid-template-columns: 33% 120px 33%;
        }
    }
}