:root {
    --white: #FFFFFF;
    --yellow: #E2BA38;
    --black: #121219;
    --brown: #332D1C;
    --brownopacity: #E2BA3880;
    --red: #FF3D00;

    --darkModeTransition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

    --textColor: #000000;
    --backgroundColor: #FFFFFF;

    --otherTextColor: #FFFFFF;
    --otherBackgroundColor: #332D1C;
    --ralewaymedium: ralewaymedium;
    --ralewaybold: ralewaybold;
    --ralewaylight: ralewaylight;

    --borderradius: 7px;
}

.mainfirst {
    margin-top: 71px;
    padding: 0;
    position: relative;

    .compslider {
        display: block;
    }

    .telslider {
        display: none;
    }

    .mainfirstprev {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        z-index: 50;
        cursor: pointer;
        width: max-content;
        padding: 10px;
    }

    .mainfirstnext {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        z-index: 50;
        cursor: pointer;
        width: max-content;
        padding: 10px;
    }

    .mainfirstslider {
        margin: 0;
        padding: 0;

        .slick-dots {
            width: max-content;
            left: 50%;
            transform: translateX(-50%);
            bottom: 30px;
            padding: 6px 10px;
            border-radius: 30px;
            background-color: rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: center;
            align-items: center;

            .slick-active button:before {
                color: var(--yellow);
            }

            li button:before {
                content: "•";
                width: 20px;
                height: 20px;
                font-size: 8px;
                line-height: 22px;
                color: black;
                opacity: 1;
            }

            li {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .slide {
            width: 100%;
            margin: 0;
            padding: 0;
            position: relative;

            img {
                width: 100%;
            }

            .content {
                position: absolute;
                right: 4%;
                top: 50%;
                transform: translateY(-50%);
                width: 30%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                p {
                    font-family: var(--ralewaymedium);
                    color: var(--white);
                    font-size: 55px;
                    line-height: 55px;
                    text-shadow: 4px 4px 6px black;
                }

                a {
                    padding: 10px 60px;
                    font-size: 19px;
                    background-color: var(--yellow);
                    color: var(--white);
                    border-radius: 10px;
                    margin-top: 40px;
                }
            }
        }
    }
}

@media(max-width: 576px) {
    .mainfirst {
        margin-top: 43px;

        .compslider {
            display: none;
        }

        .telslider {
            display: block;
        }

        .mainfirstprev {
            display: none !important;
        }

        .mainfirstnext {
            display: none !important;
        }

        .mainfirstslider {
            .slick-dots {
                padding: 3px 5px;
                bottom: 40px;

                li button:before {
                    width: 15px;
                    height: 15px;
                    font-size: 5px;
                    margin-left: 3px;
                    line-height: 21px;
                }

                li {
                    margin: 0;
                }
            }

            .slide {
                .content {
                    right: unset;
                    top: unset;
                    transform: unset;
                    right: 0%;
                    bottom: 15%;
                    width: 100%;

                    p {
                        font-size: 30px;
                        line-height: unset;
                        text-align: center;
                        width: 100%;
                    }

                    a {
                        margin: 0 auto;
                        margin-top: 10px;
                        padding: 5px 40px;
                        font-size: 14px;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .mainfirst {
        margin-top: 49px;

        .compslider {
            display: block;
        }

        .telslider {
            display: none;
        }

        .mainfirstprev {
            display: none !important;
        }

        .mainfirstnext {
            display: none !important;
        }

        .mainfirstslider {

            .slick-dots {
                bottom: 20px;
                padding: 2px;

                li button:before {
                    content: "•";
                    width: 15px;
                    height: 15px;
                    font-size: 5px;
                    line-height: 20px;
                    margin-left: 3px;
                }

                li button {
                    height: 15px;
                    width: 15px;
                    padding: 5px;
                }

                li {
                    margin: 0;
                }
            }

            .slide {
                .content {
                    right: unset;
                    top: unset;
                    transform: unset;
                    right: 0%;
                    bottom: 25%;
                    width: 100%;

                    p {
                        font-size: 36px;
                        line-height: unset;
                        text-align: center;
                        width: 100%;
                    }

                    a {
                        margin: 0 auto;
                        margin-top: 10px;
                        padding: 5px 40px;
                        font-size: 15px;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .mainfirst {
        margin-top: 68px;

        .compslider {
            display: block;
        }

        .telslider {
            display: none;
        }

        .mainfirstslider {

            .slide {
                .content {
                    right: 4%;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 30%;

                    p {
                        font-size: 45px;
                        line-height: 47px;
                    }

                    a {
                        padding: 6px 40px;
                        font-size: 16px;
                        border-radius: 10px;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}