:root {
    --white: #FFFFFF;
    --yellow: #E2BA38;
    --black: #121219;
    --brown: #332D1C;
    --brownopacity: #E2BA3880;
    --red: #FF3D00;
    --darkyellow: #A57E02;
    --shopyellow: rgba(226, 186, 56, 0.50);
    --productyellow: rgba(226, 186, 56, 0.50);
    --darkModeTransition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    --darkModeTransition: fill 0.3s ease-in-out, background-color 0.3s ease-in-out;
    --productdetailh3: #121219;
    --textColor: #121219;
    --backgroundColor: #FFFFFF;

    --otherTextColor: #FFFFFF;
    --otherBackgroundColor: #332D1C;
    --ralewaymedium: ralewaymedium;
    --ralewaybold: ralewaybold;
    --ralewaylight: ralewaylight;

    --borderradius: 7px;
}

.productsecond {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    transition: var(--darkModeTransition);
    margin-top: 40px;

    .all {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 53% 44%;
        gap: 25px;

        .left {
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: 13% 87%;
            gap: 15px;

            .productseconddots {
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;

                div {
                    width: 100%;
                    overflow: hidden;
                    border-radius: 10px;
                    cursor: pointer;
                    margin-bottom: 15px;

                    img {
                        width: 100%;
                    }
                }
            }

            .productpageimages {
                position: relative;

                .mainslideproductpageprev,
                .mainslideproductpagenext {
                    position: absolute;
                    top: 50%;
                    opacity: 0.5;
                    transition: 0.2s;

                    &:hover {
                        opacity: 1;
                    }

                    svg {
                        width: 35px;
                        height: 35px;
                        cursor: pointer;
                    }
                }

                .mainslideproductpageprev {
                    left: 15px;
                }

                .mainslideproductpagenext {
                    right: 15px;
                }

                .slider {
                    position: relative;
                    margin: 0;
                    padding: 0;
                    width: 100%;

                    div {
                        width: 100%;
                        overflow: hidden;
                        border-radius: 10px;
                        position: relative;
                        margin: 0;
                        padding: 0;

                        img {
                            width: 100%;
                        }

                        .addtowishlist {
                            padding: 10px;
                            border-radius: 100%;
                            background-color: var(--white);
                            position: absolute;
                            top: 2%;
                            right: 2%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: 0.2s;

                            &:hover {
                                transform: scale(1.05);
                            }

                            svg {
                                stroke: var(--textColor);
                                padding-top: 1px;
                                width: 28px;
                                height: 28px;
                                transition: var(--darkModeTransition);
                                stroke: var(--yellow)
                            }
                        }
                    }
                }
            }
        }

        .right {
            margin: 0;
            padding: 0;
            padding-left: 30px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            background-color: var(--backgroundColor);
            color: var(--textColor);
            transition: var(--darkModeTransition);

            h2 {
                font-family: var(--ralewaybold);
                color: var(--productdetailh3);
                margin: 0;
                padding: 0;
                transition: var(--darkModeTransition);
                width: 100%;
            }

            .no {
                margin: 0;
                padding: 0;
                font-family: var(--ralewaymedium);
                color: var(--black);
                transition: var(--darkModeTransition);
                width: 100%;
            }

            .desc {
                font-size: 16px;
                font-family: var(--ralewaymedium);
                margin: 0;
                padding: 0;
            }

            .colors {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-wrap: wrap;
                margin: 0;
                padding: 0;
                width: 100%;

                p {
                    width: 100%;
                    font-family: var(--ralewaymedium);
                    margin: 0;
                    padding: 0;
                    font-size: 16px;
                    color: var(--yellow);
                    margin-bottom: 15px;
                }

                span {
                    border-radius: 100%;
                    width: 25px;
                    height: 25px;
                    cursor: pointer;
                    margin-right: 10px;
                }
            }

            .bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                h3 {
                    font-family: var(--ralewaybold);
                    text-align: left;
                    margin: 0;
                    padding: 0;
                    color: var(--yellow);
                }

                button {
                    padding: 10px 25px;
                    padding-top: 11px;
                    border-radius: 10px;
                    background-color: var(--yellow);
                    font-family: var(--ralewaymedium);
                    border: none;
                    outline: none;
                    color: var(--white);
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .productsecond {
        margin-top: 40px;

        .all {
            display: flex;
            grid-template-columns: unset;
            gap: unset;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            .left {
                display: block;
                grid-template-columns: unset;
                gap: unset;
                width: 100%;

                .productseconddots {
                    display: none;
                }

                .productpageimages {

                    .mainslideproductpageprev {
                        left: 10px;
                    }

                    .mainslideproductpagenext {
                        right: 10px;
                    }

                    .slider {

                        div {

                            .addtowishlist {
                                padding: 7px;

                                svg {
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        }
                    }
                }
            }

            .right {
                width: 100%;
                padding-left: 0px;
                margin-top: 20px;

                h2 {
                    margin-bottom: 10px;
                }

                .no {
                    margin-bottom: 10px;
                }

                .desc {
                    font-size: 13px;
                    margin-bottom: 10px;
                }

                .colors {
                    margin-bottom: 10px;

                    p {
                        font-size: 14px;
                        margin-bottom: 10px;
                    }

                    span {
                        margin-right: 10px;
                    }
                }

                .bottom {
                    button {
                        padding: 7px 15px;
                        padding-top: 8px;
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .productsecond {

        .all {
            display: flex;
            grid-template-columns: unset;
            gap: unset;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            .left {
                display: block;
                grid-template-columns: unset;
                gap: unset;
                width: 100%;

                .productseconddots {
                    display: none;
                }

                .productpageimages {

                    .mainslideproductpageprev {
                        left: 15px;
                    }

                    .mainslideproductpagenext {
                        right: 15px;
                    }

                    .slider {

                        div {

                            .addtowishlist {
                                padding: 8px;

                                svg {
                                    width: 22px;
                                    height: 22px;
                                }
                            }
                        }
                    }
                }
            }

            .right {
                width: 100%;
                padding-left: 0px;
                margin-top: 25px;

                h2 {
                    margin-bottom: 15px;
                }

                .no {
                    margin-bottom: 15px;
                }

                .desc {
                    font-size: 14px;
                    margin-bottom: 15px;
                }

                .colors {
                    margin-bottom: 15px;

                    p {
                        font-size: 15px;
                        margin-bottom: 10px;
                    }

                    span {
                        margin-right: 10px;
                    }
                }

                .bottom {
                    button {
                        padding: 9px 18px;
                        padding-top: 10px;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .productsecond {

        .all {
            display: flex;
            grid-template-columns: unset;
            gap: unset;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            .left {
                display: block;
                grid-template-columns: unset;
                gap: unset;
                width: 100%;

                .productseconddots {
                    display: none;
                }

                .productpageimages {

                    .mainslideproductpageprev {
                        left: 15px;
                    }

                    .mainslideproductpagenext {
                        right: 15px;
                    }

                    .slider {

                        div {

                            .addtowishlist {
                                padding: 9px;

                                svg {
                                    width: 24px;
                                    height: 24px;
                                }
                            }
                        }
                    }
                }
            }

            .right {
                width: 100%;
                padding-left: 0px;
                margin-top: 30px;

                h2 {
                    margin-bottom: 18px;
                }

                .no {
                    margin-bottom: 18px;
                }

                .desc {
                    font-size: 14px;
                    margin-bottom: 18px;
                }

                .colors {
                    margin-bottom: 18px;

                    p {
                        font-size: 16px;
                        margin-bottom: 12px;
                    }

                    span {
                        margin-right: 10px;
                    }
                }

                .bottom {
                    button {
                        padding: 10px 20px;
                        padding-top: 11px;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .productsecond {
        margin-top: 40px;

        .all {
            gap: 20px;

            .left {
                gap: 15px;

                .productseconddots {
                    div {
                        margin-bottom: 10px;
                    }
                }

                .productpageimages {
                    position: relative;

                    .mainslideproductpageprev,
                    .mainslideproductpagenext {
                        svg {
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }

            .right {
                padding-left: 20px;

                .desc {
                    font-size: 14px;
                }

                .colors {
                    p {
                        font-size: 14px;
                        margin-bottom: 12px;
                    }
                }

                .bottom {
                    button {
                        padding: 10px 20px;
                        padding-top: 11px;
                    }
                }
            }
        }
    }
}