:root {
    --white: #FFFFFF;
    --yellow: #E2BA38;
    --black: #121219;
    --brown: #332D1C;
    --brownopacity: #E2BA3880;
    --red: #FF3D00;

    --darkModeTransition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

    --textColor: #121219;
    --backgroundColor: #FFFFFF;

    --otherTextColor: #FFFFFF;
    --otherBackgroundColor: #332D1C;
    --ralewaymedium: ralewaymedium;
    --ralewaybold: ralewaybold;
    --ralewaylight: ralewaylight;

    --borderradius: 7px;
}

.sidebar {
    height: 100vh;
    width: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--backgroundColor);
    transition: 0.3s;
    color: var(--textColor);
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 50000;
    margin: 0;
    padding: 0;

    .all {
        margin: 0;
        padding: 0;
        padding-left: 20px;
        padding-top: 70px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        font-family: var(--ralewaymedium);
        width: 100%;
        height: 100%;

        .closesidebar {
            position: absolute;
            top: 20px;
            left: 10px;
            width: max-content;
            cursor: pointer;

            svg {
                width: 35px;
                height: 35px;
                stroke: var(--textColor);

                path {
                    fill: var(--textColor);
                }
            }
        }

        .listsidebar {
            list-style: none;
            margin: 0;
            padding: 0;
            width: 100%;

            .outlet {
                a {
                    color: var(--red) !important;

                    &:hover {
                        color: var(--red) !important;
                    }
                }
            }

            .sidebarlistelement {
                margin-bottom: 17px;
                font-size: 17px;
                color: var(--textColor);
                transition: 0.2s;
                cursor: pointer;
                width: 100%;

                a,
                span {
                    color: var(--textColor);
                    transition: 0.2s;
                    cursor: pointer;

                    &:hover {
                        color: var(--yellow);
                    }
                }

                .allcategories {
                    padding-bottom: 0;
                    overflow: hidden;
                    display: none;
                    list-style: none;
                    margin: 0;
                    width: 100%;
                    padding-left: 15px;

                    .sidebarcategory {
                        padding: 5px 0;
                        font-size: 15px;
                        color: var(--textColor);
                        transition: 0.2s;
                        cursor: pointer;
                        width: 100%;

                        &:first-child {
                            padding-top: 15px;
                        }

                        .sidebarcategoryahref {
                            color: var(--textColor);
                            transition: 0.2s;
                            cursor: pointer;

                            &:hover {
                                color: var(--yellow);
                            }
                        }

                        &:hover {
                            .podkategorii {
                                opacity: 1;
                                visibility: visible;
                            }

                            .sidebarcategoryahref {
                                color: var(--yellow);
                            }
                        }

                        .podkategorii {
                            overflow-y: scroll;
                            list-style: none;
                            border-left: 1px solid black;
                            padding-left: 20px;
                            padding-top: 70px;

                            height: 100vh;
                            width: 180px;

                            background-color: var(--backgroundColor);
                            transition: 0.3s;
                            color: var(--textColor);

                            position: fixed;
                            top: 0;
                            left: 200px;

                            z-index: 50000;

                            opacity: 0;
                            visibility: hidden;
                            transition: 0.3s;

                            li {
                                font-family: var(--ralewaylight);
                                padding: 10px 0;
                                font-size: 15px;
                                color: var(--textColor);
                                transition: 0.2s;
                                cursor: pointer;

                                &:first-child {
                                    display: none;
                                }

                                &:nth-child(2) {
                                    padding-top: 0;
                                }

                                a {
                                    transition: 0.2s;
                                }

                                &:hover {
                                    a {
                                        color: var(--yellow);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.opensidebar {
    left: 0;
}

@media(max-width: 576px) {
    .sidebar {
        width: 50%;

        .all {
            padding-left: 15px;
            padding-top: 60px;

            .closesidebar {
                top: 10px;
                left: 10px;

                svg {
                    width: 30px;
                    height: 30px;
                }
            }

            .listsidebar {

                .sidebarlistelement {
                    margin-bottom: 20px;
                    font-size: 15px;

                    .allcategories {

                        .sidebarcategory {
                            padding: 5px 0;
                            font-size: 14px;

                            &:first-child {
                                padding-top: 15px;
                            }

                            .sidebarcategoryahref {
                                transition: 0.2s;

                                &:hover {
                                    color: var(--yellow);
                                }
                            }

                            &:hover {
                                .podkategorii {
                                    opacity: 1;
                                    visibility: visible;
                                }

                                .sidebarcategoryahref {
                                    color: var(--yellow);
                                }
                            }

                            .podkategorii {
                                padding-left: 15px;
                                padding-top: 60px;

                                width: 50%;
                                left: 50%;

                                opacity: unset;
                                visibility: unset;
                                display: none;

                                li {
                                    padding: 10px 0;
                                    font-size: 15px;
                                    width: 100%;

                                    &:nth-child(1) {
                                        padding-top: 0;
                                        display: block;
                                        font-family: var(--ralewaymedium);

                                        a {
                                            color: var(--yellow);
                                        }
                                    }

                                    &:nth-child(2) {
                                        padding-top: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .opensidebar {
        left: 0;
    }

}