:root {
    --white: #FFFFFF;
    --yellow: #E2BA38;
    --black: #121219;
    --brown: #332D1C;
    --brownopacity: #E2BA3880;
    --red: #FF3D00;

    --darkModeTransition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

    --textColor: #121219;
    --backgroundColor: #FFFFFF;

    --otherTextColor: #FFFFFF;
    --otherBackgroundColor: #332D1C;
    --ralewaymedium: ralewaymedium;
    --ralewaybold: ralewaybold;
    --ralewaylight: ralewaylight;

    --borderradius: 7px;
}

.sidebar {
    height: 100vh;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--backgroundColor);
    transition: 0.3s;
    color: var(--textColor);
    position: fixed;
    top: 0;
    left: -50%;
    z-index: 50000;
    overflow-y: scroll;

    .all {
        margin: 0;
        padding: 0;
        padding: 30px;
        padding-top: 60px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position: relative;

        .closesidebar {
            position: absolute;
            top: 20px;
            right: 0;
            width: max-content;
            cursor: pointer;

            svg {
                width: 35px;
                height: 35px;
                stroke: var(--textColor);

                path {
                    fill: var(--textColor);
                }
            }
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                margin-bottom: 20px;
                font-size: 18px;
                color: var(--textColor);
                transition: 0.2s;
                cursor: pointer;

                a,
                span {
                    color: var(--textColor);
                    transition: 0.2s;
                    cursor: pointer;

                    &:hover {
                        color: var(--yellow);
                    }
                }

                .allcategories {
                    padding-left: 20px;
                    padding-right: 0;
                    padding-bottom: 0;
                    overflow: hidden;
                    display: none;

                    ul {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        margin-top: 10px;

                        li {
                            margin-bottom: 12px;
                            font-size: 16px;
                            color: var(--textColor);
                            transition: 0.2s;
                            cursor: pointer;

                            a,
                            span {
                                color: var(--textColor);
                                transition: 0.2s;
                                cursor: pointer;

                                &:hover {
                                    color: var(--yellow);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.opensidebar {
    left: 0;
}

@media(max-width: 576px) {
    .sidebar {
        height: 100vh;
        width: 100%;
        left: -100%;

        .all {
            padding: 20px;
            padding-top: 70px;

            .closesidebar {
                top: 17px;

                svg {
                    width: 30px;
                    height: 30px;
                }
            }

            ul {

                li {
                    margin-bottom: 15px;
                    font-size: 16px;

                    .allcategories {
                        ul {
                            li {
                                margin-bottom: 10px;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }

    .opensidebar {
        left: 0;
    }
}